body, header {
    background-color: #D4CABE;
    margin: 0;
    padding: 0;    
}

header {
    padding-top: 30px;
    text-align: center;
}

nav ul {
    background-color: #EAE6E0;
    height: 60px;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

nav ul li {
    color: #232D3F;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #232D3F;
    text-decoration: none;
}

.divider {
    color: #333;
    font-size: 1.5em;

}

h1 {
    margin: 0;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    padding-right: 10px;

}
.marck-script-regular {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

#home-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    background-color: #EAE6E0;
    color: #232D3F;
    width: 5%;
    padding: 12px 24px;
    border-radius: 6px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 1px solid #262520;
}

#services-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    font-size: 1.2em;
}


.service-info {
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: #EAE6E0;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
    width: 45%;
}

#contact-page{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 20px;
    font-size: 1.2em;
    background-color: #EAE6E0;
    width: 800px;
    height: 500px;
    
}

.contact-form {
    text-align: center;
    margin: 20px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: 1em;
    background-color: #ffffff;
}

footer {
    background-color: #C4B09C;
    color: black;
    text-align: center;
    margin-top: 5%;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}