body, header {
    background-color: #F1F1F1;
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    background-color: #DFE6EC; /* White header */
    border-bottom: 2px solid #C3CBCE; /* Subtle bottom border */
    position: relative;
    z-index: 10;
    box-sizing: border-box;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li a{
    text-decoration: none;
    color: #A9ADB4; /* Medium gray for links */
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar .nav-links li a:hover {
    color: #404040; /* Darker color on hover */
}

/* nav ul {
    background-color: #EAE6E0;
    height: 60px;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
} */

.navbar .nav-links li {
    font-size: 1.7rem;
    color: #191F25;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #232D3F;
    text-decoration: none;
}

.divider {
    color: #333;
    font-size: 1.5em;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.marck-script-regular {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

#home-content {
    background-image: url("../FED_Images/2148313084.jpg");
    min-height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
}

h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    background-color: #EAE6E0;
    color: #232D3F;
    width: 5%;
    padding: 12px 24px;
    border-radius: 6px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 1px solid #262520;
}

#services-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    font-size: 1.2em;
}

.service-info {
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: #EAE6E0;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
    width: 45%;
    opacity: 0;
    transition: all 2s;
    filter: blur(5px); 
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


#contact-page{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 20px auto;
    font-size: 1.2em;
    background-color: #EAE6E0;
    width: 800px;
    height: 587px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.contact-form {
    justify-content: center;
    text-align: center;
    margin: 20px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: 1em;
    background-color: #ffffff;
}

.submit-btn {
    background-color: azure;
    color: midnightblue;
    border-radius: 10px;
    padding: 5px;
}

.submit-btn:hover {
    background-color: #C4B09C;
}

#products-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.2em;
    margin: 20px;
    gap: 1%;
}

.products-items {
    padding: 2%;
    display: flex;
    flex-basis: 18%;
    background-color: #EAE6E0;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-direction: column;
    width: 700px;
    height: auto;
    margin: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.products-img img {  
    max-width: 100%;
    min-height: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}


#items-content {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    font-size: 1.2em;
}

.items-info {
    background-color: #EAE6E0;
    border-radius: 8px;
    flex-basis: 55%;
    padding: 2%;
    height: 350px;
}

.items-info h3 {
    margin-top: 0;
}

.items-info p {
    color: #404040;
}

.items-img {
    flex-basis: 45%;
    padding-right: 10px;
}

.items-img img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #DCD9D8;
    color: black;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20%;
}

@media (max-width: 920px) {
    html {
        overflow-x: hidden;
    }
    body, header {
        font-size: 0.9em; 
    }

    nav ul {
        flex-wrap: wrap; 
        font-size: 1.2em; 
        height: auto; 
    }

    nav ul li {
        margin: 5px 10px;
        flex-basis: auto;
    }

    #home-content {
        min-height: 500px;
        padding: 10px;
    }

    .button {
        width: auto;
        padding: 10px 20px;
    }

    #services-content .service-info {
        width: 100%;
    }

    #contact-page {
        width: 90%;
        font-size: 1em;
    }

    #products-content {
        flex-wrap: wrap;
    }

    .products-items {
        flex-basis: 100%;
        width: auto;
        margin: 10px 0;
    }

    #items-content {
        flex-wrap: wrap;
    }

    .items-info, .items-img {
        flex-basis: 100%;
        height: auto;
        padding: 10px;
        font-size: 0.9em;
        margin: 20px;
    }

    footer {
        margin-top: 15%;
    }
}